{% extends 'base.html' %}

{% block content %}
    <form action="{{ url_for('salvar') }}" method="post">
            <div class="row">
                <div class="col-sm">
                    <p>Dados Pessoais</p>
                    <hr>
                    <div class="form-group">
                        <label>Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"/>
                    </div>
                    <div class="form-group">
                        <label>Telefone:</label>
                        <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <label>celular:</label>
                        <input type="text" class="form-control" id="celular" name="celular" placeholder="Celular" />
                    </div>
                </div>
                <div class="col-sm">
                    <p>Endereço</p>
                    <hr>
                    <div class="form-group">
                        <label>CEP:</label>
                        <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP"/>
                    </div>
                    <div class="form-group">
                        <label>complemento:</label>
                        <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento" />
                    </div>
                    <div class="form-group">
                        <label>Bairro:</label>
                        <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" />
                    </div>
                    <div class="form-group">
                        <label>localidade:</label>
                        <input type="text" class="form-control" id="localidade" name="localidade" placeholder="Localidade" />
                    </div>
                    <div class="form-group">
                        <label>logradouro:</label>
                        <input type="text" class="form-control" id="logradouro" name="logradouro" placeholder="Logradouro" />
                    </div>
                    <div class="form-group">
                        <label>numero:</label>
                        <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero"  />
                    </div>
                    <div class="form-group">
                        <label>UF:</label>
                        <input type="text" class="form-control" id="uf" name="uf" placeholder="UF"/>
                    </div>
                </div>
            </div>
            <input type="submit" value="Salvar" class="btn btn-info">
        </form>
{% endblock %}
{% block scripts %}
<script>
$('#cep').focusout(function(){
    enviarCodigoConfirmacao();
});

async function enviarCodigoConfirmacao() {
    postData = {
        cep: $('#cep').val()
    };

    await $.ajax({
        type: 'POST',
        crossDomain: true,
        url: "{{ url_for('buscarCEP') }}",
        data: postData,
        dataType: 'json',
        cache: false,
        success: function (data) {
            console.log(data);
            $('#bairro').val(data.bairro)
            $('#localidade').val(data.localidade)
            $('#logradouro').val(data.logradouro)
            $('#uf').val(data.uf)
        },
        error: function () {
            alert('Tivemos problemas ao enviar o e-mail, por favor tente novamente mais tarde.');
        }
    });
}
</script>
{% endblock %}